.esquerda_up,
.direita_up,
.esquerda_down,
.direita_down {
position:fixed; 
width:50%; 
height:50% 
}

.esquerda_up{
top:0;   
left:0;   
background-image: url("../assets/blog1.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

.direita_up{
top:0;
right:0;
background: #212121;
}

.direita_up p{
color: #FFFFFF;
text-align: left;
font: helvetica;
font-weight: bold;
font-size: 20px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.esquerda_down{
bottom:0;
left:0;
background: #FFFFFF;
}

.esquerda_down p{
color: #212121;
text-align: left;
font: helvetica;
font-weight: bold;
font-size: 20px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.direita_down{
bottom:0;   
right:0;   
background-image: url("../assets/blog2.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.logo{
position: fixed;
top: 61px;
left: 50px;
height: 19px;
  }
  
.menu{
position: fixed;
top:65px;
right:50px;
  }
  
.nav1{
position: fixed;
top: 122px;
left: 50px;
height: 128px;
}

.top{
  position: absolute;
  z-index: 2;
}