body{
    background-image: url("../assets/home_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

  }

.main .logo{
    position: fixed;
    top: 61px;
    left: 50px;
    height: 19px;
  }
  
  .main .menu{
    position: fixed;
    top:65px;
    right:50px;
  }
  
  .main .nav1{
    position: fixed;
    top: 122px;
    left: 50px;
    height: 128px;
  }
  
  .main .blog{
    position: fixed;
    bottom: 50px;
    left: 50px;
    height: 11px;
  }
  
  .main .email{
    position: fixed;
    bottom: 50px;
    left: 50%;
    height: 11px;
  }
  
  .main .nav2{
    position: fixed;
    bottom: 50px;
    right:50px;
    height: 400px; 
  }
