.open_menu{
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    height: 100%;
    width: 700px;
    background-color: #212121;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    transform: translateX(700px);
    transition: all 250ms ease-in-out;
  }
  
  .open_menu.active{
  transform: translateX(0);
  }
  
  .open_menu a{
    text-decoration:none;
    color: white;
    line-height: 1.3;
    font: Helvetica;
    font-size: 55px;
    font-weight: bold;
  }
  
  .open_menu .close_menu{
    position: fixed;
    z-index: 3;
    top:65px;
    right:50px;
  }
  
  .menu_about{
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    height: 100%;
    width: 700px;
    background-color: white;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    transform: translateX(700px);
    transition: all 250ms ease-in-out;
  }
  
  @media screen and (max-width: 600px) {
    .menu_about {
      float: none;
      width: 100%;
    }
  }
  
  
  .menu_about h2{
    color: red;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.4;
  }
  
  .menu_about p{
    font-size: 14px;
  }
  
  .numbers{
    position: fixed;
    z-index: 3;
    bottom: 50px;
    right:50px;
    height: 300px; 
  }
  
  .menu_about.active{
  transform: translateX(0);
  }
  
  
  .menu_contact{
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    height: 100%;
    width: 700px;
    background-color: #212121;
    opacity: 0.9;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    transform: translateX(700px);
    transition: all 250ms ease-in-out;
  }
  
  @media screen and (max-width: 600px) {
    .menu_contact {
      float: none;
      width: 100%;
    }
  }
  
  .menu_contact .up{
  padding-bottom: 70px;
  }
  
  .menu_contact h1{
    color: #f44336;
    font: helvetica;
    font-weight: bold;
  }
  
  .menu_contact h2{
    color: white;
    font: helvetica;
    font-weight: bold;
    font-size: 22px;
  }
  
  .menu_contact p{
    color: white;
    font: helvetica;
    font-size: 12px;
  }
  
  .menu_contact form{
    color: white;
    font: helvetica;
    font-size: 12px;
  }
  
  .menu_contact input{
    border: none;
    background: none;
    border-bottom: 1px solid white;
    margin-bottom: 12px;
    padding: 2px;
    width: 100%;
  }
  
  .button{
    font-size: 100%;
    font-family: helvetica;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    background: none;
    color:#f44336;
    font-weight: bold;
  }
  
  .menu_contact.active{
  transform: translateX(0);
  }
  
  .menu_about .menu_black{
    position: fixed;
    z-index: 3;
    top:65px;
    right:50px;
  }
  
  .menu_contact .menu{
    position: fixed;
    z-index: 3;
    top:65px;
    right:50px;
  }
  